= render 'users/indexheader'
%nav.index__head-nav
  %ul
    %li
      =link_to root_path do
        %span.index__head-nav--title
          メルカリ
          %i.fas.fa-chevron-right
    %li
      =link_to user_path(current_user) do
        %span.index__head-nav--title
          マイページ
          %i.fas.fa-chevron-right
    %li
      =link_to root_path do
        %span.index__head-nav--title
          支払い方法
          %i.fas.fa-chevron-right
.credit-main.clearfix
  = render 'users/mypage_side_nav'
  .cre-content
    %section.cre-content__box
      %h2.cre-content__box--head
        支払い方法
      .cre-content__box--inner
        %section
          .inner-top
            %h3.inner-top__head
              クレジットカード一覧
        .cre-content__box--inner--box
          .inner-box
            = link_to new_credit_path, class:"inner-box__link", data: {turbolinks: false} do
              %i.far.fa-credit-card
              クレジットカードを追加する
        .cre-content__box--inner--setting
          = link_to "https://www.mercari.com/jp/help_center/category/6/", class:"setting-link" do
            %span
              支払い方法について
            %i.fas.fa-angle-right
= render 'products/index-footer'