= render 'users/indexheader'
%nav.index__head-nav
  %ul
    %li
      - breadcrumb :signout
      = breadcrumbs separator: " &rsaquo; "
.signout-main
  = render 'users/mypage_side_nav'
  .signout-main__right
    .signout-main__right--box
      = form_for "", html:{class:"signout-form"} do |f|
        .signout-form__box
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"signout-form__box--btn"
          -# = f.hidden_fieldがはいる
= render 'products/index-footer'
                
