= render 'users/indexheader'
%nav.index__head-nav
  %ul
    %li
      =link_to root_path do
        %span.index__head-nav--title
          メルカリ
          %i.fas.fa-chevron-right
    %li
      =link_to user_path(current_user) do
        %span.index__head-nav--title
          マイページ
          %i.fas.fa-chevron-right
    %li
      =link_to root_path do
        %span.index__head-nav--title
          支払い方法
          %i.fas.fa-chevron-right
.credit-main.clearfix
  = render 'users/mypage_side_nav'
  .cre-content
    %section.cre-content__box
      %h2.cre-content__box--head
        支払い方法
      .cre-content__box--inner
        %section
          .inner-top
            %h3.inner-top__head
              クレジットカード一覧
        %ul.inner-pay
          %li.inner-pay__box
            .inner-pay__box--form
              %figure
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2787198863", width:"34", height:"20", alt:"master-card", class:"pay-card"
              .inner-pay__box--form--num
                = "**** **** ****#{@card_nam}"
              .inner-pay__box--form--num
                = "#{@exp_month} / #{@exp_year}"
              = link_to credit_path(@credit.id),class:"delete", method: :delete do
                削除する

