.login-container
  .login-container__header
    %h1
      =link_to root_path do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808"
  .login-container__main
    .login-container__main--login-panel
      .login-container__main--login-panel--create-account
        %p アカウントをお持ちでない方はこちら
        =link_to select_sign_up_users_path do
          %p.create-account__title 新規会員登録
      .login-container__main--login-panel--sns-login
        %button#facebook.btn-def.btn-sns
          %i.fab.fa-facebook-square 
          = link_to user_facebook_omniauth_authorize_path, method: :post do
            Facebookでログイン
        %button#google.btn-def.btn-sns  
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
            Googleでログイン
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .login-container__main--login-panel--form
          .login-container__main--login-panel--form--input-email
            =f.email_field :email, placeholder: "メールアドレス", class: "input-box__text input-def"
          .login-container__main--login-panel--form--input-pass
            =f.password_field :password, placeholder: "パスワード", class: "input-box__text input-def"
          .login-container__main--login-panel--form--input-box
          %button.submit-btn.btn-def ログイン
          %input{type: "hidden", value: root_path}
          = link_to "https://www.mercari.com/jp/password/reset/start/" do
            パスワードをお忘れの方
  .login-container__footer
    %nav
      %ul.clearfix
        %li
          = link_to "https://www.mercari.com/jp/privacy/" do
            プライバシーポリシー
        %li
          = link_to "https://www.mercari.com/jp/tos/" do
            メルカリ利用規約
        %li
          = link_to "https://www.mercari.com/jp/tokutei/" do
            特定商取引に関する表記
    = link_to root_path, class: "footer-logo" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2098311808", alt: "mercari", height: "65", width: "80"
    %p
      %small © 2019 Mercari

