.index-header
  .index-header-inner
    .index-header-top
      %h1
        = link_to root_path do
          = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372")
      = form_tag(search_products_path, :method => 'get', class:"index-header-form") do
        = text_field_tag "search", "", placeholder: "何かお探しですか？", class:"index-input-default"
        = label :search, class: "search-label", for: "message_image" do
          %i.index-search-icon.fas.fa-search
          = submit_tag ' ', class:"index-header-form-submit-btn"
    .index-header-navigation-box.clearfix
      %nav.index-left-content
        %ul.header-navigation
          %li
            %h2
              = link_to "https://www.mercari.com/jp/category/", {class: "header-navigation-list-parent"} do
                %i.fas.fa-bars
                %span カテゴリーから探す
          %li
            %h2
              = link_to "https://www.mercari.com/jp/brand/", {class: "header-navigation-list-parent"} do
                %i.fas.fa-tags
                %span ブランドから探す
      .index-right-content
        %ul.header-login-navigation
          %li
            = link_to '新規会員登録', select_sign_up_users_path, {class: "index-header-btn btn-red"}
          %li
            = link_to 'ログイン', new_user_session_path, {class: "index-header-btn header-login"}


      -# %form{action: search_path}.index-header-form
      -#   %input.index-input-default{type: "search", name: "search", placeholder: "何かお探しですか？"}
