
%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  %section.items-box-container
    %h3.text-center
      %a{href: "#"} レディース新着アイテム
    .items-box-content
      - @products.each do |product|
        %section.items-box
          %a{href: "#"}
            %figure.items-box-photo
              %img{src: "https://pics.prcm.jp/4373c6a161538/76745479/jpeg/76745479_218x291.jpeg", class:"img"}
            .items-box-body
              %h3.items-box-name
                = product.name
              .items-box-num
                .items-box-price
                  = product.price
                .like
                  %i.far.fa-heart
                  = product.status
    .view-all
      %a{href: "#"}
        すべての商品を見る

  %section.items-box-container
    %h3.text-center
      %a{href: "#"} メンズ新着アイテム
    .items-box-content
      - @products.each do |product|
        %section.items-box
          %a{href: "#"}
            %figure.items-box-photo
              %img{src: "https://pics.prcm.jp/4373c6a161538/76745479/jpeg/76745479_218x291.jpeg", class:"img"}
            .items-box-body
              %h3.items-box-name
                = product.name
              .items-box-num
                .items-box-price
                  = product.price
                .like
                  %i.far.fa-heart
                  = product.status
    .view-all
      %a{href: "#"}
        すべての商品を見る

%section.pickup-container
  %h2.pickup-head
    ピックアップブランド
  %section.items-box-container
    %h3.text-center
      %a{href: "#"} シャネル新着アイテム
    .items-box-content
      - @products.each do |product|
        %section.items-box
          %a{href: "#"}
            %figure.items-box-photo
              %img{src: "https://image1.shopserve.jp/pecohug.co.jp/pic-labo/mamechiyo500x500.jpg", class:"img"}
            .items-box-body
              %h3.items-box-name
                = product.name
              .items-box-num
                .items-box-price
                  = product.price
                .like
                  %i.far.fa-heart
                  = product.status
    .view-all
      %a{href: "#"}
        すべての商品を見る

  %section.items-box-container
    %h3.text-center
      %a{href: "#"} アディダス新着アイテム
    .items-box-content
      - @products.each do |product|
        %section.items-box
          %a{href: "#"}
            %figure.items-box-photo
              %img{src: "https://image1.shopserve.jp/pecohug.co.jp/pic-labo/mamechiyo500x500.jpg", class:"img"}
            .items-box-body
              %h3.items-box-name
                = product.name
              .items-box-num
                .items-box-price
                  = product.price
                .like
                  %i.far.fa-heart
                  = product.status
    .view-all
      %a{href: "#"}
        すべての商品を見る