.buy-content
  %header.buy-content__header
    %h1
      = link_to "https://www.mercari.com/jp/" do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808", alt:"mercari"
  .buy-content__main
    %section.buy-content__main--box
      %h2.buy-content__main--box--head
        購入内容の確認
      %section.buy-content__main--box--item
        .item-inner
          .item-inner__image
            = image_tag @image.image.url,class:"item-inner__image--photo"
          %p.item-inner__name
            = @product.name
          = form_with url: pay_products_path(@product),class:"item-inner__form", method: :post do |f|
            %p.price
              = "¥#{@product.price}"
              %span.price__fee
                送料込み
            %ul.have-point
              %li.have-point__parent
                .have-point__parent--toggle
                  ポイントはありません
            %ul.price-table
              %li.price-table__bold
                .price-table__bold--left
                  支払い金額
                .price-table__bold--right
                  %span.price-table__bold--right--pay
                    = "¥#{@product.price}"
            = link_to "/products/pay/#{@product.id}", product_id:@product.id, class:"buy-btn" do
              購入する
      %section.buy-content__main--box--user
        .user-inner
          %h3
            配送先
          %address.user-inner__text
            〒000000
            %br
            大阪府◯市◯区
            %br
            オオタ
          = link_to "#", class:"user-inner__edit" do
            %span
              変更する
            %i.fas.fa-angle-right
      %section.buy-content__main--box--user
        .user-inner
          %h3
            支払い方法
          .inner-pay__box--form--num
            = "**** **** ****#{@card_nam}"
          .inner-pay__box--form--num
            = "#{@exp_month} / #{@exp_year}"
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2787198863", alt:"master-card", class:"user-inner__card"
          = link_to "#", class:"user-inner__edit" do
            %span
              変更する
            %i.fas.fa-angle-right
  .buy-content__footer
    =render "footer"