= render 'users/indexheader'
%nav.user-navigation
  %ul
    %li
      = link_to root_path, itemprop: "url" do
        %span メルカリ
      %i.fas.fa-angle-right
    %li
      = link_to user_path(current_user), itemprop: "url" do
        %span マイページ
      %i.fas.fa-angle-right
    %li
      = link_to item_state_users_path, itemprop: "url" do
        %span 出品した商品 - 出品中
      %i.fas.fa-angle-right
    %li
      = link_to "/", itemprop: "url" do
        %span 出品商品画面
.exhibit-container
  .exhibit-container__right-content
    %section.exhibit-box-container
      .exhibit-box-container__single-container
        %h2.item-name
          = @product.name
        .item-main-content
          .item-photo
            = image_tag @product.image.image.url, class:"product-img"
          %table.item-detail-table
            %tbody
              %tr
                %th
                  出品者
                %td
                  = @user.name
                  .evaluation
                    .item-user-ratings
                      %i.fas.fa-laugh
                      %span
                        500
                    .item-user-ratings
                      %i.fas.fa-meh
                      %span
                        100
                    .item-user-ratings
                      %i.fas.fa-frown
                      %span
                        3
            %tr
              %th
                カテゴリー
              %td
                %i.fas.fa-chevron-right
                = link_to"レディース",root_path
            %tr
              %th
                ブランド
              %td
                = link_to"ワンピース",root_path
            %tr
              %th
                商品のサイズ
              %td
                Free size
            %tr
              %th
                商品の状態
              %td
                = @product.condition_id
            %tr
              %th
                配送料の負担
              %td
                送料込み（出品者負担）
            %tr
              %th
                配送の方法
              %td
                普通郵便(定形、定形外)
            %tr
              %th
                配送元地域
              %td
                = @product.delivery.prefecture.name
            %tr
              %th
                発送日の目安
              %td
                ２〜３日で発送          
        .item-price-box
          %span.item-price__bold
            ¥
            = @product.price
          %span.item-tax
            （税込）
          %span.item-shipping-fee
            送料込み
        .item-description
          %p.item-description__inner
            = @product.description
    - if current_user.id == @user.id 
      .exhibiting-item-change-box
        = link_to edit_product_path(@product.id), product_id: @product.id, class: "exhibiting-item-change-box__btn btn-red" do
          商品の編集
        %p.exhibiting-item-change-box__text
          or
        %button.exhibiting-item-change-box__gry-btn
          出品を一旦停止する
        %button.exhibiting-item-change-box__modal-btn#modal_open
          この商品を削除する
        #overlay
          #modalWindow
            .modal-message-box
              .modal-message-box__head 
                確認
              .modal-message-box__bottom 
                削除すると二度と復活できません。
                %br
                削除する代わりに停止することもできます。
                %br
                %br 
                本当に削除しますか？ 
            .modal-message-btn
              %button#modal-close-btn キャンセル
              %button#delete-confirmation-btn
                = link_to product_path(@product), method: :delete do
                  削除する
= render 'index-footer'