.wrapper
  -if user_signed_in?
    = render 'users/indexheader'
  -else
    = render 'products/index-header-list'

  %section.pickup-container
    %h2.pickup-head
    %section.items-box-container
      %h3.text-center
        =@search_keyward
        の検索結果
        =@products.length
        件表示
      .items-box-content
        - @products.first(4).each do |product|
          %section.items-box
            =link_to product_path(product.id), class: "items__box__btn" do
              %figure.items-box-photo
                = image_tag product.images[-1].image.url, class:"img"
              .items-box-body
                %h3.items-box-name
                  = product.name
                .items-box-num
                  .items-box-price
                    ￥
                    = product.price
                  .like
                    %i.far.fa-heart
                    = product.status
  = render 'products/index-footer'